<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="aboutModalLabel">About</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><strong>Github Stylish Repository Viewer</strong></p>
                <p><strong>Version:</strong> 1.0</p>
                <p><strong>Developers:</strong> Austin Burdine (@acburdine)</p>
                <p><strong>Copyright: </strong> &copy; 2015 acburdine</p>
                <p><strong>License:</strong> MIT (<a href="https://github.com/acburdine/repo-viewer/blob/master/LICENSE">license</a>)</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pass-change-modal" tabindex="-1" role="dialog" aria-labelledby="passChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="passChangeModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <div id="pass-change-alert"></div>
                <form id="pass-change">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" type="password" id="pass-change-pass" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="pass-change-retype" placeholder="Retype Password">
                        </div>
                        <button type="submit" id="pass-change-btn" class="btn btn-block btn-primary">Change Password</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
